body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    min-height: 100vh;
    color: #fff;
    background-color: #1e1d32;
    overflow-x: hidden ;
}


@import 
'reset',
'colors',
'trumps',
'placeholders/dflex',
'animations/pulse',
'mixins/transition',
'mixins/breakpoints',
'placeholders/buttons/default',
'placeholders/buttons/main',
'placeholders/buttons/second',
'placeholders/buttons/white',
'placeholders/buttons/grad-red',
'placeholders/buttons/grad-blue',
'sections/ligas',
'sections/speak-us',
'sections/last-heroes',
'components/footer',
'components/heroi',
'components/main-nav',
'components/form',
'typo';